@model IEnumerable<PostSys.Models.Course>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{
	<table class="table table-hover">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Class Name</th>
			<th>Username</th>
			<th>StartDate</th>
			<th>EndDate</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Class.Name</td>
				<td>@item.Student.Email</td>
				<td>@item.StartDate</td>
				<td>@item.EndDate</td>
				<td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
			</tr>
		}
	</table>
}